.screening-form {
  border: 2px solid blue;
  padding: 20px;
  margin: 20px auto;
  background-color: white;
  width: 80%;
}

.form-group {
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  background-color: lightblue;
  border: none;
  cursor: pointer;
}
header {
  text-align: center;
  padding: 20px;
}

.large-input {
  width: 100px;
  height: 25px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form-group {
  flex: 1 1 calc(50% - 20px);
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:  #0955a0;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #120bd3;
}
